html,
body {
  height: 100%;
}
* {
  transition: width 1s ease 0s, height 1s ease 0s;
  -webkit-transition: width 1s ease 0s, height 1s ease 0s;
}
a:hover {
  color: #E74C3C;
}
body {
  background-color: #f0ffff;
  font-family: tahoma;
  padding: 5px 5px 5px 5px;
}
.tyto-header-content {
  text-align: center;
}
.tyto-header {
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 0.5em 0;
}
h2.tyto-title {
  margin: 0.2em 0 0 0;
}
/* RESPONSIVE MEDIA QUERIES */
@media (min-width: 768px) {
  .tyto-header .tyto-header-content {
    display: inline-block;
    float: right;
    text-align: left;
  }
  .tyto-header .tyto-header-content h2.tyto-title,
  .tyto-header .tyto-header-content .tyto-logo {
    display: inline-block;
  }
}
.cookie-banner {
  background-color: #95A5A6;
  border-radius: 0.25em;
  z-index: 2;
}
.cookie-banner h6 {
  margin: 0 0 0 0;
}
.cookie-banner img {
  margin: 0.5em;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.cookie-banner .cookie-banner-content a[data-action='cookie-close'] {
  position: absolute;
  right: 0;
  top: 1em;
}
.cookie-banner .cookie-banner-content {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.cookie-banner .image,
.cookie-banner .blurb {
  display: inline-block;
  vertical-align: top;
}
#tytoInfoModal img.modal-tyto-logo {
  height: 150px;
}
#tytoInfoModal .modal-dialog {
  width: 465px;
  text-align: center;
}
img.modal-tyto-logo {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#tytoIntroModal .modal-dialog {
  width: 740px;
}
#tytoIntroModal ul li * {
  display: inline-block;
  vertical-align: top;
}
#tytoIntroModal ul button,
#tytoIntroModal ul select {
  margin: 0 0.5em;
}
@media screen and (min-width: 0px) {
  #forkongithub {
    position: absolute;
    top: 12em;
    right: -2.5em;
    border-radius: 0.5em;
    padding: 0.25em;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    background-color: #ECF0F1;
    border: thin solid #999;
    font-weight: 300;
    font-size: 0.85em;
  }
  #forkongithub i {
    margin: 0 0.25em;
  }
  #forkongithub:hover {
    color: #FFF;
    background-color: #8E44AD;
    border: thin solid #FFF;
  }
}
.tyto-item-content {
  min-height: 100px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  overflow: hidden;
}
.tyto-item .tyto-item-structure {
  position: relative;
}
.tyto-item-holder .tyto-item {
  width: 90%;
  margin: 0 auto 5px;
  font-size: 0.85em;
}
.tyto-item {
  min-height: 100px;
  background-color: #ffffd5;
  box-shadow: #ebebeb 0px 5px 5px;
  cursor: move;
}
.tyto-item .tyto-item-content[contenteditable] {
  cursor: text;
}
.edit {
  border: 1px #333 dashed;
  background-color: yellow;
}
#barn .column .tyto-item-holder .tyto-item .close {
  position: absolute;
  top: 0;
  right: 0;
}
.actions {
  padding: 2em 1em 0 1em;
}
.actions button {
  margin-right: 0.5em;
}
.actions button i {
  margin: 0 0 0 0.25em;
}
.dropdown-menu i {
  position: absolute;
  right: 0;
  margin: 0.25em;
  width: 3em;
  text-align: center;
}
.btn-group ul.dropdown-menu {
  margin-top: 0 !important;
}
#barn {
  border: thin solid black;
  position: relative;
  background-color: #fff;
  min-height: 320px;
  height: 600px;
  /*fallback*/
  height: calc(100% - 125px);
  height: -webkit-calc(100% - 125px);
  width: 90%;
  padding: 1em 3em;
  margin: 0 auto 0 auto;
  overflow: hidden;
}
#barn .column {
  height: 85%;
  height: calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  display: inline-block;
  position: relative;
  padding: 1em 0 0 0;
}
#barn .column .column-title {
  height: 26px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  text-decoration: underline;
}
#barn .column .tyto-item-holder {
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}
#barn .column .tyto-item-holder.over {
  border: 2px dashed #999;
}
#barn i.fa.fa-plus.addcolumn[data-action] {
  position: absolute;
  margin: 0.5em;
  top: 0;
  right: 0;
}
#barn .column .icon-holder {
  text-align: right;
}
#barn .column .tyto-item-holder .icon-holder {
  text-align: center;
}
#barn i {
  opacity: 0.2;
  font-size: 0.85em;
  cursor: pointer;
}
#barn i:hover {
  opacity: 0.8;
}
.viewport-message {
  text-align: center;
}
.tyto-notification {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.25em 0.25em 0.25em 0.25em;
  background-color: #FFF;
  padding: 0.25em 0.25em 0.25em 0.25em;
  border: thin solid black;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  transition: opacity 1s ease 0s;
  -webkit-transition: opacity 1s ease 0s;
}
.notify[data-tyto-notify="0"] {
  animation: notify 0s;
  -webkit-animation: notify 0s;
}
.notify[data-tyto-notify="1"] {
  animation: notify 1s;
  -webkit-animation: notify 1s;
}
.notify[data-tyto-notify="2"] {
  animation: notify 2s;
  -webkit-animation: notify 2s;
}
.notify[data-tyto-notify="3"] {
  animation: notify 3s;
  -webkit-animation: notify 3s;
}
.notify[data-tyto-notify="4"] {
  animation: notify 4s;
  -webkit-animation: notify 4s;
}
.notify[data-tyto-notify="5"] {
  animation: notify 5s;
  -webkit-animation: notify 5s;
}
.notify[data-tyto-notify="6"] {
  animation: notify 6s;
  -webkit-animation: notify 6s;
}
.notify[data-tyto-notify="7"] {
  animation: notify 7s;
  -webkit-animation: notify 7s;
}
.notify[data-tyto-notify="8"] {
  animation: notify 8s;
  -webkit-animation: notify 8s;
}
.notify[data-tyto-notify="9"] {
  animation: notify 9s;
  -webkit-animation: notify 9s;
}
.notify[data-tyto-notify="10"] {
  animation: notify 10s;
  -webkit-animation: notify 10s;
}
@keyframes notify {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes notify {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.tab {
  position: absolute;
  top: 56px;
  left: -10px;
  transition: left 1s;
  -webkit-transition: left 1s;
  z-index: 1;
}
.tab:after {
  position: absolute;
  content: "";
  height: 0px;
  width: 0px;
  left: 0px;
  top: -10px;
  border-left: 5px solid transparent;
  border-right: 5px solid #333;
  border-top: 5px solid transparent;
  border-bottom: 5px solid #333;
}
.tab .tab-tab {
  position: relative;
  float: left;
  background: #ebebeb;
  height: 100px;
  width: 25px;
  padding: 18px 0px 0px 5px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-weight: bold;
}
.tab .tab-tab .tab-title {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 0 0 0 10px;
}
.tab.open .tab-content {
  width: 172px;
}
.tab .tab-content * {
  transition: width 1s display 1s;
  -webkit-transition: width 1s display 1s;
}
.tab .tab-content {
  overflow: hidden;
  position: relative;
  float: left;
  height: 288px;
  width: 0px;
  border-radius: 0 0 6px;
  background: #ebebeb;
  transition: width 1s, display 1s;
  -webkit-transition: width 1s, display 1s;
}
.task[draggable=true] {
  cursor: move;
}
