body {
  font-family: tahoma;
  padding: 5px 5px 5px 5px;
}
body {
  background-color: #f0ffff;
}
h5 {
  border-bottom: thin solid black;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  width: 70%;
}
.header {
  height: 50px;
}
.task-content {
  min-height: 100px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  overflow: hidden;
}
.task-holder.over {
  border: 2px dashed #000;
}
#taskboard {
  border: thin solid black;
  position: relative;
  background-color: #fff;
  height: 600px;
  width: 90%;
  padding: 40px 40px 40px 40px;
  margin: 0 auto 0 auto;
}
.column {
  height: 600px;
  float: left;
}
.task .task-structure {
  position: relative;
}
.task-holder .task {
  width: 90%;
  margin: 0 auto 5px;
}
.task {
  min-height: 100px;
  background-color: #fff500;
  box-shadow: #ebebeb 0px 5px 5px;
}
.edit {
  border: 1px #333 dashed;
  background-color: yellow;
}
.taskboard-title {
  position: absolute;
  right: 100px;
  top: -15px;
  color: black;
}
.task-holder {
  height: 500px;
  margin: 0 auto;
  overflow: auto;
}
.close {
  padding: 0 5px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.actions {
  padding: 4px 4px 4px 4px;
}
.actions button {
  width: 160px;
  margin: 2px 2px 2px 2px;
  position: relative;
  height: 36px;
}
.actions button .icon {
  position: absolute;
  top: 30%;
  right: 10px;
}
#workflowfiles {
  display: none;
}
.tab {
  position: absolute;
  top: 56px;
  left: -10px;
  transition: left 1s;
  -webkit-transition: left 1s;
  z-index: 1;
}
.tab:after {
  position: absolute;
  content: "";
  height: 0px;
  width: 0px;
  left: 0px;
  top: -10px;
  border-left: 5px solid transparent;
  border-right: 5px solid #333;
  border-top: 5px solid transparent;
  border-bottom: 5px solid #333;
}
.tab .tab-tab {
  position: relative;
  float: left;
  background: lightgray;
  height: 100px;
  width: 25px;
  padding: 5px 0px 0px 5px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.tab .tab-tab .tab-title {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 0 0 0 10px;
}
.tab.open .tab-content {
  width: 172px;
}
.tab .tab-content * {
  transition: width 1s display 1s;
  -webkit-transition: width 1s display 1s;
}
.tab .tab-content {
  overflow: hidden;
  position: relative;
  float: left;
  height: 248px;
  width: 0px;
  background: lightgray;
  transition: width 1s, display 1s;
  -webkit-transition: width 1s, display 1s;
}
.task[draggable=true] {
  cursor: move;
}
