@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}
/***
  Material Icons integration.
***/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MaterialIcons-Regular.eot");
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("../fonts/MaterialIcons-Regular.woff2") format('woff2'), url("../fonts/MaterialIcons-Regular.woff") format('woff'), url("../fonts/MaterialIcons-Regular.ttf") format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  font-size: 1.5rem;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
/* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
/* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
/* Support for IE. */
  -webkit-font-feature-settings: 'liga';
     -moz-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
* {
  box-sizing: border-box;
}
body {
  overflow-y: scroll;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
     -moz-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
a {
  color: #9e9e9e;
  font-weight: 800;
}
/***
  LAYOUT SPECIFIC STYLES

  Used for defining positional relationships.

***/
.tyto-content > div {
  position: fixed;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
@media (min-width: 852px) {
  .tyto-content > div {
    top: 64px;
  }
}
.tyto-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.tyto-content {
  overflow: visible;
}
.tyto-header {
  z-index: 1;
}
/***

  Animations --

  Set of keyframes used across app. Mainly revolve around animating various
  scale sizes for elements.

***/
/* Give newly created entities an entry animation */
/* Animate bloomer for view transition */
/* Fade in content */
/* FAB speed dial button animation of options */
/* Used for animating in freshly created columns */
.tyto-board.is--adding-column .tyto-column:last-of-type .tyto-column__content {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: create;
          animation-name: create;
}
/*
  animates a freshly created task with the spring in effect.
*/
.tyto-column.is--adding-task .tyto-task:last-of-type {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: create;
          animation-name: create;
}
/***

  Board component.

***/
.tyto-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tyto-board__options {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  top: 0;
  right: 10px;
  height: 56px;
}
@media (min-width: 852px) {
  .tyto-board__options {
    height: 64px;
  }
}
.tyto-board__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 10px;
}
.tyto-board__details {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  top: 0px;
  left: 75px;
  right: 75px;
}
.tyto-board__selector__menu-btn {
  margin-left: 6px;
}
.tyto-board__selector-option {
  padding: 0;
}
.tyto-board__selector-option a {
  padding: 0 8px;
  display: block;
  text-decoration: none;
}
.tyto-board__title {
  font-size: 24px;
  font-size: 1.5rem;
  height: 56px;
  line-height: 56px;
  margin: 0;
  outline: 0;
  min-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tyto-board__title:active,
.tyto-board__title:focus {
  overflow: visible;
  white-space: normal;
}
@media (min-width: 852px) {
  .tyto-board__title {
    line-height: 64px;
    height: 64px;
  }
}
.tyto-board__bloomer {
  position: fixed;
  height: 100px;
  width: 100px;
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 100%;
  z-index: 9999;
  display: none;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.tyto-board__bloomer.is--blooming {
  display: block;
  -webkit-animation-name: bloom;
          animation-name: bloom;
}
/***

  Columns

***/
/* variables */
.tyto-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  max-width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  max-height: 100%;
}
.tyto-column:hover .tyto-column__action {
  min-height: 40px;
  height: 40px;
}
.tyto-column:hover .tyto-column__actions .does--fade {
  opacity: 0.4;
}
.tyto-column:hover .tyto-column__actions .does--fade:hover {
  opacity: 1;
}
.tyto-column__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  max-height: 100%;
  padding-right: 10px;
  overflow: auto;
}
.tyto-column__mover {
  position: absolute;
  top: 0;
  left: 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  cursor: move;
}
.tyto-column__actions {
  text-align: center;
  margin: 20px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tyto-column__actions .does--fade {
  opacity: 0;
}
.tyto-column__title {
  max-width: 200px;
  margin: 0;
  display: inline-block;
}
.tyto-column__menu-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  min-width: 24px;
  padding: 0;
  right: 5px;
  top: 0;
}
.tyto-column__tasks {
  padding: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.tyto-column__placeholder {
  display: inline-block;
  min-width: 320px;
  height: 100%;
}
.tyto-column__action {
  height: 0;
  min-height: 0;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: height 0.25s linear, min-height 0.25s linear;
          transition: height 0.25s linear, min-height 0.25s linear;
}
.tyto-column__action i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 32px;
  font-size: 2rem;
  cursor: pointer;
}
.tyto-cookies {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
}
.tyto-cookies > * {
  margin: 10px;
}
.tyto-cookies > img {
  min-width: 50px;
}
.tyto-cookies__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}
.tyto-cookies__content img {
  height: 100px;
  margin: 30px;
}
.tyto-cookies__content h1,
.tyto-cookies__content h2 {
  margin: 0;
}
.tyto-cookies__content p {
  max-width: 500px;
}
.tyto-edit > * {
  -webkit-animation-name: fade__in;
          animation-name: fade__in;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
}
.tyto-edit__content {
  position: fixed;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  overflow: visible;
}
@media (min-width: 852px) {
  .tyto-edit__content {
    top: 64px;
  }
}
@media (min-width: 768px) {
  .tyto-edit__content {
    width: 600px;
    margin: 0 auto;
  }
}
.tyto-edit__color-select__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 8px;
}
.tyto-edit__color-select__menu-option {
  width: 50%;
}
.tyto-edit__task-title {
  margin: 0 32px 0 0;
  padding: 10px 24px;
}
.tyto-edit__task-description {
  padding: 24px;
  width: 100%;
  outline: 0;
  background: transparent;
  border: none;
  min-height: 100px;
}
.tyto-edit__edit-description {
  outline: 0;
  border: none;
  background: transparent;
  padding: 16px 0;
  width: 100%;
  min-height: 100px;
  max-height: 300px;
  margin: 0 16px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  resize: none;
}
.tyto-edit__nav,
.tyto-edit__details-footer {
  min-height: 50px;
}
.tyto-edit__details-footer {
  padding: 0 8px;
  opacity: 0.4;
}
.tyto-edit__actions {
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tyto-edit__nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  top: 0;
  left: 100px;
  height: 56px;
}
@media (min-width: 852px) {
  .tyto-edit__nav {
    height: 64px;
  }
}
/***

  Floating action button --

  Styles the board FAB for adding columns and tasks. Implementation based on the maximum amount of sub options being six as set out in Material Design spec.

***/
.mdl-button--fab_flinger-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}
.mdl-button--fab_flinger-container.is-showing-options > button i {
  -webkit-transition: -webkit-transform 0.1s linear;
          transition: transform 0.1s linear;
  -webkit-transform: translate(-12px, -12px) rotate(45deg);
          transform: translate(-12px, -12px) rotate(45deg);
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options button {
/*
          Calculate animation delay of each child by using a loop
          through finite set up to max children (6).
        */
  display: block;
  -webkit-animation-name: fab__enter;
          animation-name: fab__enter;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options button:nth-of-type(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options button:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options button:nth-of-type(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options button:nth-of-type(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options button:nth-of-type(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.mdl-button--fab_flinger-container.is-showing-options .mdl-button--fab_flinger-options button:nth-of-type(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.mdl-button--fab_flinger-container .mdl-button--fab_flinger-options {
  position: absolute;
  bottom: 100%;
  margin-bottom: 10px;
}
.mdl-button--fab_flinger-container .mdl-button--fab_flinger-options button {
  -webkit-transform: scale(0);
          transform: scale(0);
  display: none;
}
/*
  Required for FAB button sub icon styling.
  In this case, the additional plus icon for column and task icons.
*/
.mdl-button--fab i.sub {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  font-weight: 800;
}
/*
  Styling for top level layout__drawer menu.
*/
.tyto-menu__title {
  background-image: url("../img/tyto.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100px;
  position: relative;
  padding: 20px;
  margin: 20px;
}
.tyto-menu__title h1 {
  position: absolute;
  bottom: 0;
  text-align: center;
}
.tyto-menu__actions {
  list-style: none;
}
.tyto-menu__actions input[type=file] {
  display: none;
}
.tyto-select {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/***

  Tasks.

***/
.tyto-task {
  margin-bottom: 30px;
  padding: 0 0 20px 0;
  max-width: 100%;
  min-height: 150px;
  overflow: visible;
  z-index: auto;
/* Adds extra drop shadow when task is being lifted/dragged */
/* Manages show/hide of opaque element interaction icons */
}
.tyto-task.ui-sortable-helper {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 6px 2px -4px rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.tyto-task .does--fade {
  opacity: 0;
}
.tyto-task:hover .does--fade {
  opacity: 0.4;
}
.tyto-task:hover .does--fade:hover {
  opacity: 1;
}
.tyto-task__header {
  position: relative;
  margin: 10px 0;
}
.tyto-task__title {
  display: inline-block;
  max-width: 200px;
  margin: 0;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
}
.tyto-task__menu-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  min-width: 24px;
  padding: 0;
}
.tyto-task__time {
  padding: 16px;
}
.tyto-task__time > * {
  opacity: 0.4;
}
.tyto-task__mover {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}
.tyto-task__edit-wrapper {
  position: relative;
}
.tyto-task__description {
  width: 100%;
}
.tyto-task__description a {
  z-index: 99999;
  cursor: pointer;
}
.tyto-task__description-edit {
  outline: 0;
  border: none;
  background: transparent;
  padding: 16px 0;
  width: 258px;
  max-height: 100px;
  margin: 0 16px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  resize: none;
}
.tyto-task__placeholder {
  height: 100px;
  width: 90%;
  margin: 0em auto 1em auto;
}
.tyto-time-modal {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-name: create;
          animation-name: create;
}
.tyto-time-modal__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-name: fade__in;
          animation-name: fade__in;
}
.tyto-time-modal__content {
  width: auto;
  height: auto;
  min-height: 0;
  margin: 10px;
}
.tyto-time-modal__content-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0;
}
.tyto-time-modal__content-text {
  width: 100%;
  padding-top: 0;
}
/***

  Time label component

***/
.tyto-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tyto-time__icon,
.tyto-time__hours,
.tyto-time__minutes {
  font-size: 16px;
  font-size: 1rem;
}
/***

  States --

  Various states for elements.

  Mainly concerned with when the app is showing a particular view and
  whether the 'bloom' transition is being displayed.

***/
.is--showing-edit-view {
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
}
.is--showing-bloom .tyto-header {
  z-index: 99999;
}
.is--selected {
  position: relative;
}
.is--selected:after {
  display: block;
  content: '\2713';
  position: absolute;
  top: 0;
  right: 2px;
}
.has--bottom-margin {
  margin-bottom: 30px;
}
.does--fade {
  opacity: 0.4;
  -webkit-transition: opacity 0.25s;
          transition: opacity 0.25s;
}
.does--fade:hover {
  opacity: 1;
}
.is--hidden {
  display: none;
}
/***

  THEME --

  Contains styling rules for various app wide styles.

***/
/*
  Generates color palette specific styles for background, border, text and
  hover color
*/
.bg--red {
  background-color: #f44336;
}
.tx--red {
  color: #f44336;
}
.bd--red {
  border: 4px solid #f44336;
}
.hv--red:hover {
  background-color: #f44336;
}
.bg--pink {
  background-color: #e91e63;
}
.tx--pink {
  color: #e91e63;
}
.bd--pink {
  border: 4px solid #e91e63;
}
.hv--pink:hover {
  background-color: #e91e63;
}
.bg--purple {
  background-color: #9c27b0;
}
.tx--purple {
  color: #9c27b0;
}
.bd--purple {
  border: 4px solid #9c27b0;
}
.hv--purple:hover {
  background-color: #9c27b0;
}
.bg--indigo {
  background-color: #3f51b5;
}
.tx--indigo {
  color: #3f51b5;
}
.bd--indigo {
  border: 4px solid #3f51b5;
}
.hv--indigo:hover {
  background-color: #3f51b5;
}
.bg--blue {
  background-color: #2196f3;
}
.tx--blue {
  color: #2196f3;
}
.bd--blue {
  border: 4px solid #2196f3;
}
.hv--blue:hover {
  background-color: #2196f3;
}
.bg--cyan {
  background-color: #00bcd4;
}
.tx--cyan {
  color: #00bcd4;
}
.bd--cyan {
  border: 4px solid #00bcd4;
}
.hv--cyan:hover {
  background-color: #00bcd4;
}
.bg--teal {
  background-color: #009688;
}
.tx--teal {
  color: #009688;
}
.bd--teal {
  border: 4px solid #009688;
}
.hv--teal:hover {
  background-color: #009688;
}
.bg--green {
  background-color: #4caf50;
}
.tx--green {
  color: #4caf50;
}
.bd--green {
  border: 4px solid #4caf50;
}
.hv--green:hover {
  background-color: #4caf50;
}
.bg--lime {
  background-color: #cddc39;
}
.tx--lime {
  color: #cddc39;
}
.bd--lime {
  border: 4px solid #cddc39;
}
.hv--lime:hover {
  background-color: #cddc39;
}
.bg--yellow {
  background-color: #ffeb3b;
}
.tx--yellow {
  color: #ffeb3b;
}
.bd--yellow {
  border: 4px solid #ffeb3b;
}
.hv--yellow:hover {
  background-color: #ffeb3b;
}
.bg--amber {
  background-color: #ffc107;
}
.tx--amber {
  color: #ffc107;
}
.bd--amber {
  border: 4px solid #ffc107;
}
.hv--amber:hover {
  background-color: #ffc107;
}
.bg--orange {
  background-color: #ff5722;
}
.tx--orange {
  color: #ff5722;
}
.bd--orange {
  border: 4px solid #ff5722;
}
.hv--orange:hover {
  background-color: #ff5722;
}
.bg--grey {
  background-color: #9e9e9e;
}
.tx--grey {
  color: #9e9e9e;
}
.bd--grey {
  border: 4px solid #9e9e9e;
}
.hv--grey:hover {
  background-color: #9e9e9e;
}
.bg--black {
  background-color: #000;
}
.tx--black {
  color: #000;
}
.bd--black {
  border: 4px solid #000;
}
.hv--black:hover {
  background-color: #000;
}
.bg--white {
  background-color: #fff;
}
.tx--white {
  color: #fff;
}
.bd--white {
  border: 4px solid #fff;
}
.hv--white:hover {
  background-color: #fff;
}
/*
  NOTE: That for [contenteditable] elements with a background color we wish
  to show an accented color on :focus/:active.
*/
.bg--red [contenteditable],
[contenteditable].bg--red,
.bg--red textarea {
  -webkit-transition: background 0.25s;
          transition: background 0.25s;
  outline: 0;
}
.bg--red [contenteditable]:active,
[contenteditable].bg--red:active,
.bg--red textarea:active,
.bg--red [contenteditable]:focus,
[contenteditable].bg--red:focus,
.bg--red textarea:focus {
  background-color: #f01d0d;
}
.bg--pink [contenteditable],
[contenteditable].bg--pink,
.bg--pink textarea {
  -webkit-transition: background 0.25s;
          transition: background 0.25s;
  outline: 0;
}
.bg--pink [contenteditable]:active,
[contenteditable].bg--pink:active,
.bg--pink textarea:active,
.bg--pink [contenteditable]:focus,
[contenteditable].bg--pink:focus,
.bg--pink textarea:focus {
  background-color: #cc1452;
}
.bg--purple [contenteditable],
[contenteditable].bg--purple,
.bg--purple textarea {
  -webkit-transition: background 0.25s;
          transition: background 0.25s;
  outline: 0;
}
.bg--purple [contenteditable]:active,
[contenteditable].bg--purple:active,
.bg--purple textarea:active,
.bg--purple [contenteditable]:focus,
[contenteditable].bg--purple:focus,
.bg--purple textarea:focus {
  background-color: #852196;
}
.bg--indigo [contenteditable],
[contenteditable].bg--indigo,
.bg--indigo textarea {
  -webkit-transition: background 0.25s;
          transition: background 0.25s;
  outline: 0;
}
.bg--indigo [contenteditable]:active,
[contenteditable].bg--indigo:active,
.bg--indigo textarea:active,
.bg--indigo [contenteditable]:focus,
[contenteditable].bg--indigo:focus,
.bg--indigo textarea:focus {
  background-color: #36459a;
}
.bg--blue [contenteditable],
[contenteditable].bg--blue,
.bg--blue textarea {
  -webkit-transition: background 0.25s;
          transition: background 0.25s;
  outline: 0;
}
.bg--blue [contenteditable]:active,
[contenteditable].bg--blue:active,
.bg--blue textarea:active,
.bg--blue [contenteditable]:focus,
[contenteditable].bg--blue:focus,
.bg--blue textarea:focus {
  background-color: #0c81df;
}
.bg--cyan [contenteditable],
[contenteditable].bg--cyan,
.bg--cyan textarea {
  -webkit-transition: background 0.25s;
          transition: background 0.25s;
  outline: 0;
}
.bg--cyan [contenteditable]:active,
[contenteditable].bg--cyan:active,
.bg--cyan textarea:active,
.bg--cyan [contenteditable]:focus,
[contenteditable].bg--cyan:focus,
.bg--cyan textarea:focus {
  background-color: #00a0b4;
}
.bg--teal [contenteditable],
[contenteditable].bg--teal,
.bg--teal textarea {
  -webkit-transition: background 0.25s;
          transition: background 0.25s;
  outline: 0;
}
.bg--teal [contenteditable]:active,
[contenteditable].bg--teal:active,
.bg--teal textarea:active,
.bg--teal [contenteditable]:focus,
[contenteditable].bg--teal:focus,
.bg--teal textarea:focus {
  background-color: #008074;
}
.bg--green [contenteditable],
[contenteditable].bg--green,
.bg--green textarea {
  -webkit-transition: background 0.25s;
          transition: background 0.25s;
  outline: 0;
}
.bg--green [contenteditable]:active,
[contenteditable].bg--green:active,
.bg--green textarea:active,
.bg--green [contenteditable]:focus,
[contenteditable].bg--green:focus,
.bg--green textarea:focus {
  background-color: #419544;
}
.bg--lime [contenteditable],
[contenteditable].bg--lime,
.bg--lime textarea {
  -webkit-transition: background 0.25s;
          transition: background 0.25s;
  outline: 0;
}
.bg--lime [contenteditable]:active,
[contenteditable].bg--lime:active,
.bg--lime textarea:active,
.bg--lime [contenteditable]:focus,
[contenteditable].bg--lime:focus,
.bg--lime textarea:focus {
  background-color: #b9c823;
}
.bg--yellow [contenteditable],
[contenteditable].bg--yellow,
.bg--yellow textarea {
  -webkit-transition: background 0.25s;
          transition: background 0.25s;
  outline: 0;
}
.bg--yellow [contenteditable]:active,
[contenteditable].bg--yellow:active,
.bg--yellow textarea:active,
.bg--yellow [contenteditable]:focus,
[contenteditable].bg--yellow:focus,
.bg--yellow textarea:focus {
  background-color: #ffe60c;
}
.bg--amber [contenteditable],
[contenteditable].bg--amber,
.bg--amber textarea {
  -webkit-transition: background 0.25s;
          transition: background 0.25s;
  outline: 0;
}
.bg--amber [contenteditable]:active,
[contenteditable].bg--amber:active,
.bg--amber textarea:active,
.bg--amber [contenteditable]:focus,
[contenteditable].bg--amber:focus,
.bg--amber textarea:focus {
  background-color: #dfa700;
}
.bg--orange [contenteditable],
[contenteditable].bg--orange,
.bg--orange textarea {
  -webkit-transition: background 0.25s;
          transition: background 0.25s;
  outline: 0;
}
.bg--orange [contenteditable]:active,
[contenteditable].bg--orange:active,
.bg--orange textarea:active,
.bg--orange [contenteditable]:focus,
[contenteditable].bg--orange:focus,
.bg--orange textarea:focus {
  background-color: #f63b00;
}
.bg--grey [contenteditable],
[contenteditable].bg--grey,
.bg--grey textarea {
  -webkit-transition: background 0.25s;
          transition: background 0.25s;
  outline: 0;
}
.bg--grey [contenteditable]:active,
[contenteditable].bg--grey:active,
.bg--grey textarea:active,
.bg--grey [contenteditable]:focus,
[contenteditable].bg--grey:focus,
.bg--grey textarea:focus {
  background-color: #868686;
}
.bg--black [contenteditable],
[contenteditable].bg--black,
.bg--black textarea {
  -webkit-transition: background 0.25s;
          transition: background 0.25s;
  outline: 0;
}
.bg--black [contenteditable]:active,
[contenteditable].bg--black:active,
.bg--black textarea:active,
.bg--black [contenteditable]:focus,
[contenteditable].bg--black:focus,
.bg--black textarea:focus {
  background-color: #000;
}
.bg--white [contenteditable],
[contenteditable].bg--white,
.bg--white textarea {
  -webkit-transition: background 0.25s;
          transition: background 0.25s;
  outline: 0;
}
.bg--white [contenteditable]:active,
[contenteditable].bg--white:active,
.bg--white textarea:active,
.bg--white [contenteditable]:focus,
[contenteditable].bg--white:focus,
.bg--white textarea:focus {
  background-color: #d9d9d9;
}
/*
  Generates text alignment utility classes.
*/
.tx--left {
  text-align: left;
}
.tx--right {
  text-align: right;
}
.tx--center {
  text-align: center;
}
/*
  Position helper
*/
/*
  tx--black wouldn't work on this set up because it's a generated el.
*/
.mdl-layout__drawer-button i {
  color: #000;
}
.github-stats {
  margin-top: 50px;
}
/*
  NOTE: MDL Override FIX to stop MDL menu clipped menus blocking UI
  interaction.
*/
.tyto-board .mdl-menu__container {
  height: 0px !important;
}
/***
  Suggestions
***/
.tyto-suggestions__container {
  position: fixed;
  background: #fff;
  border-radius: 2px;
  z-index: 99999;
}
.tyto-suggestions__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-size: 0.875rem;
}
.tyto-suggestions__item {
  padding: 4px 26px;
  cursor: pointer;
  line-height: 14px;
}
.tyto-suggestions__item:hover,
.tyto-suggestions__item.is--active {
  color: #fff;
  background-color: #009688;
}
@-webkit-keyframes create {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes create {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes bloom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(50);
            transform: scale(50);
  }
}
@keyframes bloom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(50);
            transform: scale(50);
  }
}
@-webkit-keyframes fade__in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade__in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fab__enter {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@keyframes fab__enter {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
