.cookie-banner.hide#cookie-banner
  .cookie-banner-content
    .image
      img(src = "images/tyto.png")
    .blurb
      h6.
        tyto uses cookies
      p.small.
        cookies enable tyto to provide a better experience to you. By closing this message and using tyto you agree to the use of cookies. <a href="cookies.html" target="_blank">read more</a>. <a data-action="cookie-close" class="btn btn-inverse">close</a>
