.modal.fade.introModal(id = 'tytoHelpModal', tabindex = '-1', role = 'dialog', aria-labelledby = 'tytoIntroModal', aria-hidden = 'true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss = "modal", aria-hidden = "true")
          |&times;
        img.modal-tyto-logo(src = "images/tyto.png")
        h4.modal-title(id = 'myModalLabel')
          |welcome to tyto!
      .modal-body
        .intro
          p
            |<strong>tyto</strong> helps you manage and organise things.
          p
            |this help dialog will only aid you in how to actually interact with tyto. For help with how to extend, customise and develop against tyto refer to the <a href ="https://github.com/jh3y/tyto">github repo</a>.
          ul
            li
              a.help-link.items(data-tyto-help-show = "items")
                |items
            li
              a.help-link.columns(data-tyto-help-show = "columns")
                |columns
            li
              a.help-link.menu(data-tyto-help-show = "menu")
                |menu
        .help
          .help-section.items.hide(data-tyto-help-section = "items")
            h4
              |items
            p
              |Items are draggable pieces of content that can be moved around to different columns on the board, you can add more by using the action button or using the icon at the bottom of each column. You can remove an item by hitting the icon on the item.
            p
              |To edit an item;
            ul
              li
                |edit an items title by clicking it and then modifying its content.
              li
                |edit an items content by clicking its content and modifying the content.
            p
              |to move an item
            ul
              li
                |drag it by dragging the move icon next to the item title.
          .help-section.columns.hide(data-tyto-help-section = "columns")
            h4
              |columns
            p
              |columns simply store your items, you can edit the title of a column by simply clicking on its title. You can add new columns by using the menu and remove columns by simply clicking the icon at the top of the column you wish to remove.
            p
              |you can also drag columns and resorting them by dragging the move icon.
          .help-section.menu.hide(data-tyto-help-section = "menu")
            h4
              |menu
            p
              |the menu can be used to add new columns and items. But it can also be used to save your current board and also load a board if you have a valid config file available. You can also use the menu to email your current board, wipe your board etc.
      .modal-footer
        button.btn.btn-primary(data-dismiss = "modal", aria-hidden = "true")
          |close help.
      script.
        var helpModal = document.querySelector('#tytoHelpModal'),
          helpSections = helpModal.querySelectorAll('[data-tyto-help-section]'),
          sectionToShow;
        helpModal.addEventListener('click', function(event) {
          if (event.target && event.target.nodeName === "A" && event.target.className.indexOf('help-link') !== -1) {
            [].forEach.call(helpSections, function(key, value) {
              if (key.className.indexOf('hide') === -1) {
                key.className += 'hide';
              }
            });
            sectionToShow = helpModal.querySelector('[data-tyto-help-section=' + event.target.getAttribute('data-tyto-help-show') + ']');
            sectionToShow.className = sectionToShow.className.replace('hide', '');
          }
        });
