#barn {
	border: thin solid black;
	position: relative;
	background-color: #fff;
	height: 600px;
	width: 90%;
	padding: 40px 40px 40px 40px;
	margin: 0 auto 0 auto;
}
.header .header-content .barn-title {
	float: left;
	margin: 0 0 0 0;
}
#barn .column {
	height: 600px;
	float: left;
	position: relative;
}
#barn .column .column-title {
	border-bottom: thin solid black;
	font-size: 16px;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 25px;
	text-align: center;
	width: 70%;
}
#barn .column .tyto-item-holder {
	height: 500px;
	margin: 0 auto;
	overflow: auto;
}
#barn .column .tyto-item-holder.over {
	border: 2px dashed #000;
}

#barn .column .close {
	color: #333;
	font-weight: normal;
	font-size: 12px;
	position: absolute;
	right: 2px;
	top: -20px;
	cursor: pointer;
}