doctype
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="en")
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang="en")
//if IE 8
  html.no-js.lt-ie9(lang="en")
//if gt IE 8
  html.no-js(lang="en")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title tests : tyto
  meta(name="description", content="manage and organise things with the tool you take over. tyto is an open source task management and organisation tool.")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0")
  link(rel="stylesheet", href="../css/test/mocha.css")
body
  #mocha
  script(src="../js/test/mocha.js")
  script(src="../js/test/chai.js")
  script.
    mocha.setup('bdd');
    expect = chai.expect;
  script(src="../js/vendor.js")
  script(src = "../js/config.js")
  script(src="../js/tyto.js")
  script(src="../js/test/test.js")
  script.
    if (window.mochaPhantomJS) {
      mochaPhantomJS.run();
    } else {
      mocha.run();
    }
