.email
  |{{#if columns }}
  |Here are your current items.
  |{{#each columns }}
  |{{#if items}}
  |{{ title }}
  &#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;
  |{{#each items}}
  &#8226;    {{ content }}
  |{{/each}}
  |{{/if}}
  |{{/each}}
  |{{/if}}
