<div class="tyto-item"><div class="tyto-item-header"><h6 contenteditable="true" class="tyto-item-title">{{#if title}}
{{{ title }}}
{{ else }}
New item
{{/if}}</h6><div class="action-icons"><i title="move item" class="fa fa-arrows item-mover"></i>{{#if collapsed}}<i title="expand/collapse item" class="fa fa-plus collapser"></i>{{ else }}<i title="expand/collapse item" class="fa fa-minus collapser"></i>{{/if}}<i title="remove item" class="fa fa-times close"></i></div></div>{{#if collapsed}}<div contenteditable="true" style="display: none;" class="tyto-item-content">{{#if content }}
{{{ content }}}
{{ else }}
this is a new item
{{/if}}</div>{{ else }}<div contenteditable="true" class="tyto-item-content">{{#if content }}
{{{ content }}}
{{ else }}
this is a new item
{{/if}}</div>{{/if}}</div>