.actions
	button.btn.btn-default.addtask
		|add task
		span.icon.glyphicon.glyphicon-plus
	button.btn.btn-default.addcolumn
		|add column
		span.icon.glyphicon.glyphicon-stats
	button.btn.btn-default.removecolumn
		|remove column
		span.icon.glyphicon.glyphicon-stats
	button.btn.btn-default.savetaskboard
		|save taskboard
		span.icon.glyphicon.glyphicon-hdd
	button.btn.btn-default.loadtaskboard
		|load taskboard
		span.icon.glyphicon.glyphicon-import
	button.btn.btn-default.emailtaskboard
		|email tasks
		span.icon.glyphicon.glyphicon-envelope
	a.hide.saveworkflow(id = 'saveworkflow')
	a.hide.workflowemail(id = 'workflowemail')
	input.hide.workflowfiles(id = 'workflowfiles', name = 'files[]', single, type = 'file')