.tyto-board__options
  button#tyto-board__menu.mdl-button.mdl-js-button.mdl-button--icon
    i.material-icons more_vert
  ul.tyto-board__menu.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="tyto-board__menu")
    li.tyto-board__delete-board.mdl-menu__item Delete board
    li.tyto-board__wipe-board.mdl-menu__item Wipe board
    li.tyto-board__email-board.mdl-menu__item Email board

.tyto-board__details
  h1.tyto-board__name(contenteditable="true")<%= title %>
  |<% if (boards.length > 1) { %>
  button#tyto-board__selector.mdl-button.mdl-js-button.mdl-button--icon
    i.material-icons expand_more
  ul.tyto-board__selector.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="tyto-board__selector")
    |<% _.each(boards.models, function(i){ %>
    |<% if (i.attributes.id != id) { %>
    li.mdl-menu__item
      a(href!="#board/<%= i.attributes.id %>") <%= i.attributes.title %>
    |<% } %>
    |<% }) %>
  |<% } %>

.tyto-board__columns

.tyto-board__actions.mdl-button--fab_flinger-container
  button.tyto-board__add-entity.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
    i.material-icons add
  .mdl-button--fab_flinger-options
    button.tyto-board__super-add.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(title="Add task")
      i.material-icons description
      i.material-icons.sub add
    button.tyto-board__add-column.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(title="Add column")
      i.material-icons view_column
      i.material-icons.sub add
