.board
  button#save-board Save board
  button#add-column Add a column
  button#delete-board Delete Board
  p I am an awesome board and my name is <%= id %>.
  |<% if (typeof columns !== "undefined" && columns.length > 0) { %>
  p I have <%= columns.length %> columns.
  |<% } %>
  p My name is <%= title %>
  .columns
