.tyto--board-options
  button#demo-menu-lower-right.mdl-button.mdl-js-button.mdl-button--icon
    i.material-icons more_vert
  ul#menumenu.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="demo-menu-lower-right")
    li#delete-board.mdl-menu__item Delete board
    li#wipe-board.mdl-menu__item Wipe board
    li#email-board.mdl-menu__item Email board

//- span <%= columns.length %>

.tyto--board-name
  h1#board-name(contenteditable="true")<%= title %>
  |<% if (boards.length > 1) { %>
  button#board-name-selector.mdl-button.mdl-js-button.mdl-button--icon
    i.material-icons expand_more
  ul#board-name-menu.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="board-name-selector")
    |<% _.each(boards.models, function(i){ %>
    li.mdl-menu__item
      a(href!="#board/<%= i.attributes.id %>") <%= i.attributes.title %>
    |<% }) %>
  |<% } %>

.columns


//- Note that the chosen icons for the different actions are by no means ideal.
.actions--primary
  button#add-entity.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.bg--red.tx--white.mdl-button--colored
    i.material-icons add
  .options
    button#add-column.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.bg--red.tx--white.mdl-button--colored(title="Add column")
      i.material-icons view_column
      i.material-icons.tx--white.sub add
    button#super-add.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.tx--white.bg--red.mdl-button--colored(title="Add task")
      i.material-icons description
      i.material-icons.tx--white.sub add
