.board
  button#save-board Save board
  button#add-column Add a column
  button#delete-board Delete Board
  button#wipe-board Wipe Board
  div#board-name(contenteditable="true")<%= title %>
  .columns
