button#demo-menu-lower-right.mdl-button.mdl-js-button.mdl-button--icon
  i.material-icons more_vert

ul#menumenu.mdl-menu.mdl--menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="demo-menu-lower-right")
  li#delete-board.mdl-menu__item Delete board
  li#wipe-board.mdl-menu__item Wipe board
  li#email-board.mdl-menu__item Email board

//- button#delete-board Delete Board
//- button#wipe-board Wipe Board
//- button#email-board Email Board

span <%= columns.length %>

div#board-name(contenteditable="true")<%= title %>
span <%= boards %>
.columns


//- Note that the chosen icons for the different actions are by no means ideal.
.actions--primary
  button#add-entity.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.bg--red.tx--white.mdl-button--colored
    i.material-icons add
  .options
    button#add-column.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.bg--red.tx--white.mdl-button--colored
      i.material-icons view_column
    button#super-add.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.tx--white.bg--red.mdl-button--colored
      i.material-icons note_add
