button#delete-board Delete Board
button#wipe-board Wipe Board
button#email-board Email Board

span <%= columns.length %>

div#board-name(contenteditable="true")<%= title %>
span <%= boards %>
.columns


//- Note that the chosen icons for the different actions are by no means ideal.
.actions--primary
  button#add-entity.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
    i.material-icons add
  .options
    button#add-column.float.bg--red.tx--white
      i.material-icons view_column
    button#super-add.tx--white.bg--red.float
      i.material-icons note_add
