button#add-board Add a board
button#add-column Add a column
button#super-add Add a task
button#delete-board Delete Board
button#wipe-board Wipe Board
button#email-board Email Board

span <%= columns.length %>

div#board-name(contenteditable="true")<%= title %>
  span <%= boards %>
.columns
