.column-content
  .column_actions
    i.column--mover.material-icons.does--fade open_with
    h6#column-name.input--fade(contenteditable="true") <%= title %>
    button.mdl-button.mdl--button--icon.mdl-js-button.mdl-js-ripple-effect.column--menu_btn.does--fade(id!="<%= id %>--menu")
      i.material-icons more_vert
    ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(id!="<%= id %>--menu_content" for!="<%= id %>--menu")
      li.mdl-menu__item#delete-column Delete
      li.mdl-menu__item.add-task Add task
  .tasks
  .column-action
    i.material-icons.add-task.does--fade add
