.column
	.icon-holder
		i.fa.fa-arrows.column-mover(title = "move column")
		i.fa.fa-trash-o.close(title = "remove column", data-action = "removecolumn")
	h6.column-title(contenteditable = 'true', title = "edit column title.")
		|{{#if title }}
		|{{ title }}
		|{{ else }}
		|new column
		|{{/if}}	
	.tyto-item-holder
		.items
			|{{#if items }}
			|{{#each items}}
			|{{> item }}
			|{{/each}}
			|{{/if}}
		.icon-holder
			i.fa.fa-plus.additem(title = "add item", data-action = "additem")