include ../mixins/menu.jade

.tyto-column__content
  .tyto-column__actions
    i.tyto-column__mover.material-icons.does--fade open_with
    h6.tyto-column__name.input--fade.bg--white(contenteditable="true") <%= title %>
    +actionMenu('<%= id %>--menu', 'more_vert', 'tyto-column', 'does--fade', 'bottom-right')
      li.tyto-column__delete-column.mdl-menu__item Delete
      li.tyto-column__add-task.mdl-menu__item Add task
  .tyto-column__tasks
  .tyto-column__action
    i.material-icons.tyto-column__add-task.does--fade add
