.tyto-cookies.bg--blue
  img(src="img/tyto.png")
  p.
    tyto uses cookies that enable it to provide functionality and a better user experience. By using tyto and closing this message you agree to the use of cookies. <a href="cookies.html" target="_blank">Read more...</a>
  button.tyto-cookies__accept.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent.mdl-js-ripple-effect Close
