include ../mixins/menu.jade

.tyto-edit__content
  .tyto-edit__details
    h1.tyto-edit__title(contenteditable="true") <%= title %>
    p.tyto-edit__description(contenteditable="true") <%= description %>
    .tyto-edit__task-column
      |<% if (selectedColumn) { %>
      |<%= selectedColumn.attributes.title %>
      |<% } %>
  .tyto-edit__nav
    |<% if (isNew) { %>
    button.tyto-edit__save.mdl-button.mdl-js-button.mdl-js-ripple-effect Done
    |<% } else { %>
    a.tyto-edit__back.mdl-button.mdl-js-button.mdl-js-ripple-effect(href!="#board/<%= board.id %>") Return to board
    |<% } %>


  .tyto-edit__actions
    |<% if (columns.length > 0 ) { %>
    +actionMenu('column-select', 'view_column', 'tyto-edit__column-select')
      |<% _.forEach(columns, function(column) { %>
      li.mdl-menu__item.tyto-edit__column-select-menu-option(data-column-id!="<%= column.id %>") <%= column.attributes.title %>
      |<% }); %>
    |<% } %>
    +actionMenu('color-select' , 'color_lens', 'tyto-edit__color-select')
      |<% _.forEach(colors, function(color) { %>
      li.mdl-menu__item.tyto-edit__color-select-menu-option(class!="bg--<%= color %> hv--<%= color %>", data-color!="<%= color %>")
      |<% }); %>
