.tyto-edit
  h1 editing a todo <%= title %>
  p <%= board.id %>
  p <%= columns.length %>
  p <%= id %>
  |<% if (isNew) { %>
  button.tyto-edit__cancel Cancel
  button.tyto-edit__save   Save
  |<% } else { %>
  a.tyto-edit__back(href!="#board/<%= board.id %>") Go back
  |<% } %>
