ul.tyto-actions
  li
    button#add-board Add new board <%= items.length %>
  |<% if (items.length > 0) { %>
  li
    select#board-selector
      option --select a board--
      |<% _.each(items, function(i){ %>
      option(value!="<%= i.id %>") <%= i.title %>
      |<% }) %>
  |<% } %>
  li
    button#delete-save Delete save
  li
    button#export-data Export data
    a#exporter
  li
    button#import-data Import data
  li
    button#load-data Load data
  li
    | <% if (undoables.length > 0) { %>
    button#undo Undo <%= undoables.length %>
    | <% } else { %>
    button#undo(disabled) Undo <%= undoables.length %>
    | <% } %>
  input#importer(type="file")
    
