span.mdl-layout-title
  h1 tyto
ul.tyto--actions
  li
    button#add-board.mdl-button.mdl-js-button.mdl-js-ripple-effect Add new board <%= items.length %>
  |<% if (items.length > 0) { %>
  li
    select#board-selector
      option --select a board--
      |<% _.each(items, function(i){ %>
      option(value!="<%= i.id %>") <%= i.title %>
      |<% }) %>
  |<% } %>
  li
    button#delete-save.mdl-button.mdl-js-button.mdl-js-ripple-effect Delete save
  li
    button#export-data.mdl-button.mdl-js-button.mdl-js-ripple-effect Export data
    a#exporter
  li
    button#import-data.mdl-button.mdl-js-button.mdl-js-ripple-effect Import data
  li
    button#load-data.mdl-button.mdl-js-button.mdl-js-ripple-effect Load data
  input#importer(type="file")
