span.mdl-layout-title
  .tyto-menu__title
    h1 tyto
ul.tyto-menu__actions
  li
    button#add-board.mdl-button.mdl-js-button.mdl-js-ripple-effect Add new board
  li
    button#delete-save.mdl-button.mdl-js-button.mdl-js-ripple-effect Delete save
  li
    button#export-data.mdl-button.mdl-js-button.mdl-js-ripple-effect Export data
    a#exporter
  li
    button#import-data.mdl-button.mdl-js-button.mdl-js-ripple-effect Import data
  li
    button#load-data.mdl-button.mdl-js-button.mdl-js-ripple-effect Load data
  input#importer(type="file")
