/***

  Tasks.

***/

taskMinHeight = 150px

.tyto-task
  margin-bottom 30px
  padding       0 0 20px 0
  max-width     100%
  min-height    taskMinHeight
  overflow      visible
  z-index       auto
  /* Adds extra drop shadow when task is being lifted/dragged */
  &.ui-sortable-helper
    box-shadow  0 4px 4px 0 rgba(0,0,0,.14),
                0 6px 2px -4px rgba(0,0,0,.2),
                0 2px 10px 0 rgba(0,0,0,.12)
  /* Manages show/hide of opaque element interaction icons */
  .does--fade
    opacity     0
  &:hover
    .does--fade
      &:hover
        opacity 1
      opacity   0.4

  &__header
    position      relative
    margin        10px 0

  &__title
    display       inline-block
    max-width     200px
    min-width     150px
    margin        0
    font-size     24px
    line-height   32px

  &__menu-btn
    position      absolute
    top           5px
    right         5px
    width         24px
    height        24px
    border-radius 50%
    min-width     24px
    padding       0

  &__time
    padding       16px
    & > *
      opacity     0.4

  &__mover
    position      absolute
    top           5px
    left          5px
    cursor        pointer

  &__edit-wrapper
    position      relative

  &__description
    width         100%
    a
      z-index     99999
      cursor      pointer

  &__description-edit
    outline       0
    border        none
    background    transparent
    padding       16px 0
    width         258px
    max-height    100px
    margin        0 16px
    font-size     16px
    line-height   16px
    resize        none

  &__placeholder
    height        taskMinHeight - 50px
    width         90%
    margin        0em auto 1em auto
