mixin timeLabel(className)
  .tyto-time(title="Time spent", class!=className)
    i.material-icons schedule
    span(class!="#{className}__hours tyto-time__hours") <%= timeSpent.hours %>h
    span(class!="#{className}__minutes tyto-time__minutes") <%= timeSpent.minutes %>m
