doctype
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="en")
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang="en")
//if IE 8
  html.no-js.lt-ie9(lang="en")
//if gt IE 8
  html.no-js(lang="en")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title
    |tyto: manage and organise.
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
  link(rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
  link(rel='stylesheet', href='css/tyto.min.css')
body
  //if lt IE 7
    p.browsehappy
      |You are using an
      strong
        |outdated browser
      |. Please
      a(href="http://browsehappy.com/")
        |upgrade your browser
      |to improve your experience.
  .center-text
    h3
      a(href="index.html")
        |tyto
    img.img-repsonsive(src = "images/tyto.png")
    p.lead.
      tyto's use of cookies
    p.
      tyto may with your consent use cookies in order to provide you a better user experience. These cookies enable tyto to personalise the site for your use by remembering your use of tyto and storing this data in your browser locally to your computer(never online).
    p.
      Referring to the ICC UK Cookie guide, tyto uses category 3 cookies.
    p.
      These are functionality cookies that allow tyto to remember your use. The cookie stored in your browser by tyto can never personally identify you nor can it track you or your browsing activity.
    p.lead.
      Happy Tytoing!
  // Google Analytics: change UA-XXXXX-X to be your sites ID.
  script.
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
