doctype
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title tyto: manage and organise.
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel='stylesheet', href="css/vendor.min.css")
  link(rel='stylesheet', href='css/tyto.min.css')
body
  .tyto-cookies__content
    img(src="img/tyto.png")
    h1
      a(href="index.html") tyto
    h2 tyto's use of cookies
    p.
      tyto may with your consent use cookies in order to provide you a better user experience. These cookies enable tyto to personalise the site for your use by remembering your use of tyto and storing this data in your browser locally to your computer(never online).
    p.
      Referring to the ICC UK Cookie guide, tyto uses category 3 cookies.
    p.
      These are functionality cookies that allow tyto to remember your use. The cookie stored in your browser by tyto can never personally identify you nor can it track you or your browsing activity.
    h3 Happy Tytoing!
