extends layout-blocks/layout
block content
  #tyto-layout.mdl-layout.mdl-js-layout
    header#tyto-header.tyto-header.mdl-layout__header.mdl-layout__header--transparent.tx--black
      .mdl-layout__header-row
        .mdl-layout-spacer
        img.tyto-logo(src="img/tyto.png")
    #tyto-menu.tyto-menu.mdl-layout__drawer
    #tyto-content.tyto-content.mdl-layout__content
