extends layout-blocks/layout
block content
  //- #tyto--menu.tyto--menu.bg--white
  //- #tyto--content.tyto--content.mdl-layout__content
  .layout-transparent.mdl-layout.mdl-js-layout
    header.mdl-layout__header.mdl-layout__header--transparent
      .mdl-layout__header-row
      //- Title
      span.mdl_layout-title Title
      //- Add spacer, to align navigation to the right.
      .mdl-layout-spacer
      nav.mdl-navigation
        a.mdl-navigation__link LINK
    #tyto--menu.tyto--menu.mdl-layout__drawer
    #tyto--content.tyto--content.mdl-layout__content
