extends layout-blocks/layout
block content
  //- #tyto--menu.tyto--menu.bg--white
  //- #tyto--content.tyto--content.mdl-layout__content
  .layout-transparent.mdl-layout.mdl-js-layout
    header.mdl-layout__header
      .mdl-layout__header-row
        //- Add spacer, to align navigation to the right.
        .mdl-layout-spacer
        span Put logo here
    #tyto--menu.tyto--menu.mdl-layout__drawer
    #tyto--content.tyto--content.mdl-layout__content
