.actions
	button.btn.btn-default.additem(title = "add item.")
		|add item
		span.icon.glyphicon.glyphicon-plus
	button.btn.btn-default.addcolumn(title = "add column.")
		|add column
		span.icon.glyphicon.glyphicon-stats
	button.btn.btn-default.savebarn(title = "save.")
		|save
		span.icon.glyphicon.glyphicon-hdd
	button.btn.btn-default.loadbarn(title = "load.")
		|load
		span.icon.glyphicon.glyphicon-import
	button.btn.btn-default.emailbarn(title = "email.")
		|email
		span.icon.glyphicon.glyphicon-envelope
	button.btn.btn-default.helpbarn(title = "show help.")
		|help
		span.icon.glyphicon.glyphicon-question-sign
	button.btn.btn-default.infobarn(title = "show info.")
		|info
		span.icon.glyphicon.glyphicon-info-sign
	a.hide.savetyto(id = 'savetyto')
	a.hide.tytoemail(id = 'tytoemail')