.actions
	button.btn.btn-default.additem
		|add item
		span.icon.glyphicon.glyphicon-plus
	button.btn.btn-default.addcolumn
		|add column
		span.icon.glyphicon.glyphicon-stats
	button.btn.btn-default.removecolumn
		|remove column
		span.icon.glyphicon.glyphicon-stats
	button.btn.btn-default.savebarn
		|save
		span.icon.glyphicon.glyphicon-hdd
	button.btn.btn-default.loadbarn
		|load
		span.icon.glyphicon.glyphicon-import
	button.btn.btn-default.emailbarn
		|email
		span.icon.glyphicon.glyphicon-envelope
	a.hide.savetyto(id = 'savetyto')
	a.hide.tytoemail(id = 'tytoemail')
	input.hide.tytofiles(id = 'tytofiles', name = 'files[]', single, type = 'file')