.column
	span.close.glyphicon.glyphicon-remove
	h5.column-title(contenteditable = 'true')
		|{{#if title }}
		|{{ title }}
		|{{ else }}
		|new column
		|{{/if}}
	.tyto-item-holder
		|{{#if items }}
		|{{#each items}}
		|{{> item }}
		|{{/each}}
		|{{/if}}