<div class="column"><div class="icon-holder"><i title="move column" class="fa fa-arrows column-mover"></i><i title="remove column" data-action="removecolumn" class="fa fa-trash-o close"></i></div><h6 contenteditable="true" title="edit column title." class="column-title">{{#if title }}
{{ title }}
{{ else }}
new column
{{/if}}	</h6><div class="tyto-item-holder"><div class="items">{{#if items }}
{{#each items}}
{{> item }}
{{/each}}
{{/if}}</div><div class="icon-holder"><i title="add item" data-action="additem" class="fa fa-plus additem"></i></div></div></div>