.column
	.actions
		span.additem.glyphicon.glyphicon-plus(title = 'add item.', data-fn='addItem')
		span.close.glyphicon.glyphicon-remove(title = 'remove column.', data-fn='removeColumn')
	h5.column-title(contenteditable = 'true', title = 'edit column title.')
		|{{#if title }}
		|{{ title }}
		|{{ else }}
		|new column
		|{{/if}}
	.tyto-item-holder
		|{{#if items }}
		|{{#each items}}
		|{{> item }}
		|{{/each}}
		|{{/if}}