.tyto-item
	.tyto-item-header
		h6(contenteditable = "true")
			|Item header
		.action-icons
			i.fa.fa-arrows.item-mover(title = "move item")
			i.fa.fa-minus.collapser(title = "expand/collapse item")
			i.fa.fa-times.close(title = 'remove item')
	.tyto-item-content(contenteditable = "true")
		|{{#if content }}
		|{{{ content }}}
		|{{ else }}
		|this is a new item
		|{{/if}}