.tyto-item
	.tyto-item-header
		h6.tyto-item-title(contenteditable = "true")
			|{{#if title}}
			|{{{ title }}}
			|{{ else }}
			|New item
			|{{/if}}
		.action-icons
			i.fa.fa-arrows.item-mover(title = "move item")
			|{{#if collapsed}}
			i.fa.fa-plus.collapser(title = "expand/collapse item")
			|{{ else }}
			i.fa.fa-minus.collapser(title = "expand/collapse item")
			|{{/if}}
			i.fa.fa-times.close(title = 'remove item')
	|{{#if collapsed}}
	.tyto-item-content(contenteditable = "true", style = "display: none;")
		|{{#if content }}
		|{{{ content }}}
		|{{ else }}
		|this is a new item
		|{{/if}}
	|{{ else }}
	.tyto-item-content(contenteditable = "true")
		|{{#if content }}
		|{{{ content }}}
		|{{ else }}
		|this is a new item
		|{{/if}}
	|{{/if}}