ul.tyto-suggestions__list
  |<% if (tyto.models.length > 0) { %>
  |<% _.each(tyto.models, function(model) { %>
  |<% if (model.attributes.boardId) { %>
  li.tyto-suggestions__item(data-type="Tasks", data-model-id!="<%= model.attributes.id %>") <%= model.attributes.title %>
  |<% } else { %>
  li.tyto-suggestions__item(data-type="Boards", data-model-id!="<%= model.attributes.id %>") <%= model.attributes.title %>
  |<% } %>
  |<% }) %>
  |<% } else { %>
  li.tyto-suggestions__item No suggestions available...
  |<% } %>
