include ../mixins/githubStats.pug

.mdl-layout-title
  .tyto-menu__title
    h1 tyto
ul.tyto-menu__actions
  li
    button.tyto-menu__add-board.mdl-button.mdl-js-button.mdl-js-ripple-effect Add new board
  li
    button#import-data.tyto-menu__import.mdl-button.mdl-js-button.mdl-js-ripple-effect Import data
  li
    button#load-data.tyto-menu__load.mdl-button.mdl-js-button.mdl-js-ripple-effect Load data
  li
    button.tyto-menu__export.mdl-button.mdl-js-button.mdl-js-ripple-effect Export data
  li
    button.tyto-menu__delete-save.mdl-button.mdl-js-button.mdl-js-ripple-effect Delete data
  a.tyto-menu__exporter
  input.tyto-menu__importer(type="file")
  li
    +githubStats('jh3y', 'tyto')
