.actions
  button.btn.btn-default.additem(title = "add item.", data-action = "additem")
    |add item
    i.fa.fa-file-o
  button.btn.btn-default.addcolumn(title = "add column.", data-action = "addcolumn")
    |add column
    i.fa.fa-columns
  button.btn.btn-default.saveboard(title = "save board.", data-action = "savebarn")
    |save
    i.fa.fa-floppy-o
  a.hide.savetyto(id = 'savetyto')
  a.hide.tytoemail(id = 'tytoemail')
  button.btn.btn-disabled.undolast(title = "undo.", data-action = "undolast", disabled = "true")
    |undo
    i.fa.fa-undo
  .btn-group
    button.btn.btn-default.dropdown-toggle(type = "button", data-toggle = "dropdown")
      i.fa.fa-cog
      span.caret
    ul.dropdown-menu(role = "menu")
      li
        a(title = "wipe board", data-action = "wipeboard")
          |wipe board
          i.fa.fa-eraser
      li.divider
      li
        a(title = "export", data-action = "exportbarn")
          |export
          i.fa.fa-download
      li
        a(title = "load", data-action = "loadbarn")
          |load
          i.fa.fa-folder-o
      li.divider
      li
        a(title = "email", data-action = "emailbarn")
          |email
          i.fa.fa-envelope-o
      li.divider
      li
        a(title = "toggle auto-save", data-action = "toggleautosave")
          |auto-save
          i.fa.fa-check-square-o
      li
        a(title = "delete save", data-action = "deletesave")
          |delete save
          i.fa.fa-trash-o
      li.divider
      li
        a(title = "show help", data-action = "helpbarn")
          |help
          i.fa.fa-user
      li
        a(title = "show info", data-action = "infobarn")
          |info
          i.fa.fa-info
