.tyto-header.container
  .row
    .col-md-4.col-md-push-8
      .tyto-header-content
        h2.tyto-title
          |tyto
        .tyto-logo
          img.tyto-logo-image(src="images/tyto.png")
    .col-md-8.col-md-pull-4
      include ./actions
