.modal.fade.introModal(id = 'tytoInfoModal', tabindex = '-1', role = 'dialog', aria-labelledby = 'tytoIntroModal', aria-hidden = 'true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss = "modal", aria-hidden = "true")
          |&times;
        img.modal-tyto-logo(src = "images/tyto.png")
        h1.modal-title(id = 'myModalLabel')
          |tyto!
      .modal-body
        p
          |<strong>tyto</strong> helps you manage and organise things.
        p
          |<strong>version:</strong> 1.4.0.
        p
          |<a href="https://github.com/jh3y/tyto">github.com/jh3y</a> 2014.
        iframe(src="http://ghbtns.com/github-btn.html?user=jh3y&repo=tyto&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="90px", height="20")
        iframe(src="http://ghbtns.com/github-btn.html?user=jh3y&repo=tyto&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="90px", height="20")
        iframe(src="http://ghbtns.com/github-btn.html?user=jh3y&repo=tyto&type=follow&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="120px", height="20")
