.modal.fade.introModal(id = 'tytoIntroModal', tabindex = '-1', role = 'dialog', aria-labelledby = 'tytoIntroModal', aria-hidden = 'true')
	.modal-dialog
		.modal-content
			.modal-header
				img.modal-tyto-logo(src = "images/tyto.png")
				h4.modal-title(id = 'myModalLabel')
					|welcome to tyto!
			.modal-body
				p
					|<strong>tyto</strong> helps you manage and organise things.
				ul
					li
						div.loadconfig.info
							p
								|you may already have a config file you wish to load in which case you can simply
							button.btn.btn-default.tytoloadconfig
								|load that config.
					li
						div.loadcolumns.info
							p
								|alternatively you may wish to start a new board with
							select.tytonumberofcols
								option
									|1
								option
									|2
								option
									|3
								option
									|4
								option
									|5
								option
									|6
								option
									|7
								option
									|8
								option
									|9
								option
									|10
							p
								|column/s by pressing
							button.btn.btn-default.loadtytocolumns
								|here.
					li
						div.loaddefault.info
							p
								|or you could just 
							button.btn.btn-default.loadtytodefaultconfig
								|load the default config.
					li
						div.stuck.info
							p
								|if you get stuck, simply refer to the readme over at <a href="https://github.com/jh3y/tyto">the github repo</a> or hit 'help' in the menu.