.barn.hidden-xs(id='barn')
	i.fa.fa-plus.addcolumn(title = "add column", data-action = "addcolumn")
.viewport-message.hidden-sm.hidden-md.hidden-lg
	p.lead.
		Unfortunately, <strong>tyto</strong> doesn't play nicely with small viewports.
	p.
		Try resizing and then refreshing your browser window.